* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  color: #252b42;
  font-weight: 500;
  font-family: Montserrat;
  background: #fafafa;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 1046px;
  padding: 0px 15px;
  margin: 0px auto;
  box-sizing: content-box;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

/*----------------ШАПКА---------------*/
.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}

.header__container {
  display: flex;
  min-height: 104px;
  align-items: center;
}

@media (max-width: 479px) {
  .header__container {
    min-height: 70px;
  }
}

.header__logo {
  font-size: 24px;
  font-weight: 700;
  color: inherit;
}

.header__menu {
  margin: 0 0 0 133px;
}

@media (max-width: 992px) {
  .header__menu {
    margin: 0 0 0 80px;
  }
}

@media (max-width: 767px) {
  .header__menu {
    margin: 0 0 0 40px;
  }
}

@media (max-width: 479px) {
  .header__menu {
    margin: 0 0 0 20px;
  }
}

.menu {
  padding: 5px 0;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
}

.menu__item {
  margin: 0 21px 0 0;
}

.menu__item:last-child {
  margin: 0;
}

.menu__link {
  color: #737373;
  line-height: 171%;
  font-weight: 600;
}

@media (max-width: 479px) {
  .menu__link {
    font-size: 18px;
  }
}

.page {
  flex: 1 1 auto;
}

.page__services {
  position: relative;
  margin: -111px 0 0 0;
  z-index: 2;
}

.page__clients {
  margin: 0 0 10px 0;
}

.header-block {
  text-align: center;
  letter-spacing: 0.2 px;
}

.header-block__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 142%;
}

.header-block__subtitle {
  color: #737373;
  line-height: 142%;
}

.main-block {
  position: relative;
}

.main-block__body {
  padding: 184px 0 191px 0;
  position: relative;
  z-index: 2;
  max-width: 400px;
}

@media (max-width: 992px) {
  .main-block__body {
    padding: 120px 0 191px 0;
  }
}

.main-block__body>*:not(:last-child) {
  margin: 35px 0;
}

.main-block__title {
  font-size: 58px;
  font-weight: 800;
  line-height: 137%;
  letter-spacing: 0.2px;
}

@media (max-width: 479px) {
  .main-block__title {
    font-size: 42px;
  }
}

.main-block__text {
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.2px;
  color: #737373;
}

@media (max-width: 373px) {
  .main-block__text {
    color: #424040;
  }
}

.main-block__buttons {
  display: inline-flex;
  flex-wrap: wrap;
}

.main-block__button {
  background: #ff7b47;
  border-radius: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 48px;
  padding: 5px 36px;
  letter-spacing: 0.2px;
  font-weight: 700;
  line-height: 150%;
  color: #ffffff;
  margin: 0 10px 15px 0;
}

@media (max-width: 373px) {
  .main-block__button {
    flex: 1 1 auto;
    margin: 0 0 15px 0;
  }
}

.main-block__button_border {
  background: none;
  border-radius: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 48px;
  padding: 5px 36px;
  letter-spacing: 0.2px;
  font-weight: 700;
  line-height: 150%;
  color: #0d5c63;
  border: 1px solid #0d5c63;
  margin: 0 0 15px 0;
}

.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media (max-width: 1300px) {
  .main-block__image img {
    object-position: right;
  }
}

@media (max-width: 992px) {
  .main-block__image img {
    opacity: 0.5;
  }
}

.services__body {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px -30px;
}

.services__column {
  padding: 0 15px;
  flex: 0 1 33.333%;
  margin: 0 0 30px 0;
}

@media (max-width: 992px) {
  .services__column {
    flex: 0 1 50%;
  }
}

@media (max-width: 670px) {
  .services__column {
    flex: 0 1 100%;
  }
}

.services__item {
  height: 100%;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  background: #ffffff;
  padding: 35px;
}

.item-service_green {
  background-color: #0d5c63;
}

.item-service_green .item-service__title {
  color: #ffffff;
}

.item-service_green .item-service__text {
  color: #ffffff;
}

.item-service>*:not(:last-child) {
  margin: 0 0 10px 0;
}

.item-service__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.1 px;
}

.item-service__text {
  line-height: 142%;
  color: #737373;
  letter-spacing: 0.2 px;
}

.advantages {
  padding: 80px 0;
}

@media (max-width: 992px) {
  .advantages {
    padding: 50px 0;
  }
}

.advantages__header {
  margin: 0 0 50px 0;
}

.advantages__body {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px 30px;
}

.advantages__column {
  padding: 0 15px;
  margin: 0 0 30px 0;
  flex: 0 1 25%;
}

@media (max-width: 1030px) {
  .advantages__column {
    flex: 0 1 50%;
  }
}

@media (max-width: 560px) {
  .advantages__column {
    flex: 0 1 100%;
  }
}

.advantages__item {
  background-color: #ffffff;
  text-align: center;
  padding: 30px;
  font-weight: 700;
}

.advantages__item>*:not(:last-child) {
  margin: 0 0 10px 0;
}

.advantages__icon {
  height: 48px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.advantages__value {
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.2 px;
}

.advantages__text {
  letter-spacing: 0.1 px;
  font-size: 16px;
  line-height: 150%;
  color: #737373;
}

.practice {
  padding: 125px 0 80px 0;
}

@media (max-width: 1060px) {
  .practice {
    padding: 94px 0 60px 0;
  }
}

@media (max-width: 812px) {
  .practice {
    padding: 66px 0 42px 0;
  }
}

.practice__header {
  margin: 0 0 45px 0;
}

.practice__body {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
}

.practice__column {
  padding: 0 20px;
  flex: 0 1 25%;
}

@media (max-width: 1060px) {
  .practice__column {
    flex: 0 1 50%;
  }
}

@media (max-width: 812px) {
  .practice__column {
    flex: 0 1 100%;
  }
}

.item-practice {
  background-color: #ffffff;
  display: flex;
  height: 100%;
  flex-direction: column;
}

.item-practice__content {
  padding: 30px;
  flex: 1 1 auto;
}

.item-practice-link {
  color: inherit;
  display: inline-block;
}

.item-practice-link:hover {
  text-decoration: underline;
}

.item-practice-link:not(:last-child) {
  margin: 0 0 15px 0;
}

.item-practice__title {
  font-size: 16px;
  letter-spacing: 0.1 px;
  font-weight: 700;
  line-height: 150%;
}

.item-practice__text {
  line-height: 142%;
  color: #737373;
  letter-spacing: 0.2 px;
}

.item-practice__image {
  display: block;
  padding: 0 0 60% 0;
}

.whoweare {
  padding: 80px 0 130px 0;
  background-color: #ffffff;
}

.whoweare__header {
  margin: 0 0 100px 0;
}

.whoweare__body {
  display: flex;
  align-items: flex-start;
}

.whoweare__video {
  flex: 0 0 57%;
  position: relative;
  padding: 0 0 42.25% 0;
}

.whoweare__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.whoweare__content {
  flex: 1 1 auto;
  padding: 20px 0 0 121px;
}

.whoweare__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.2 px;
}

.whoweare__title:not(:last-child) {
  margin: 0 0 10px 0;
}

.whoweare__text {
  color: #737373;
  letter-spacing: 0.2 px;
  line-height: 142%;
}

.whoweare__top:not(:last-child) {
  margin: 0 0 50px 0;
}

.whoweare_item:not(:last-child) {
  margin: 0 0 30px 0;
}

.item-whoweare {
  display: flex;
}

.item-whoweare__icon {
  flex: 0 0 32px;
}

.item-whoweare__body {
  flex: 1 1 auto;
  padding: 0 0 0 20px;
}

.item-whoweare__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}

.item-whoweare__title:not(:last-child) {
  margin: 0 0 5px 0;
}

.item-whoweare__text {
  color: #737373;
  letter-spacing: 0.2 px;
  line-height: 142%;
}

@media (max-width: 1080px) {
  .whoweare__content {
    padding: 0px 0 0 50px;
  }
}

@media (max-width: 950px) {
  .whoweare {
    padding: 50px 0 50px 0;
  }

  .whoweare__title {
    font-size: 24px;
  }

  .whoweare__content {
    padding: 0px 0 0 50px;
    margin: 0 0 50px 0;
  }

  .whoweare__header {
    padding: 0 0 30px 0;
  }

  .whoweare__body {
    flex-direction: column-reverse;
    align-items: stretch;
  }

  .whoweare__video {
    padding: 0 0 56.25% 0;
  }
}

.clients {
  padding: 50px 0;
}

.clients__items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.clients__item {
  padding: 8px 15px;
  flex: 1 1 16.6667%;
  text-align: center;
}

.subscribe {
  position: relative;
  padding: 0 0 20px 0;
}

.subscribe::before {
  content: "";
  position: absolute;
  background: #252b42;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 77px;
}

.subscribe__body {
  position: relative;
  z-index: 2;
  margin: 0 30px;
  display: flex;
  background-color: #17213c;
  border-radius: 2px;
  padding: 30px 50px;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 810px) {
  .subscribe__body {
    display: block;
    justify-content: center;
    margin: 0;
  }
}

.subscribe__title {
  max-width: 266px;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0.1 px;
  font-weight: 700;
  line-height: 133%;
}

@media (max-width: 810px) {
  .subscribe__title {
    margin: 0 0 20px 0;
  }

  .subscribe__title {
    max-width: none;
  }
}

.subscribe__form {
  flex: 0 1 50%;
  display: flex;
  align-items: center;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  box-sizing: border-box;
}

.subscribe__input {
  width: 100%;
  flex: 1 1 auto;
  min-height: 58px;
  background: #f9f9f9;
  padding: 15px 0 15px 20px;
  color: #737373;
  line-height: 200%;
}

.subscribe__button {
  display: flex;
  background: #ff7b47;
  min-height: 58px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  padding: 15px 22px;
}

@media (max-width: 425px) {
  .subscribe__form {
    flex-direction: column;
  }

  .subscribe__button {
    width: 100%;
  }
}

.getintouch {
  padding: 80px 0 135px 0;
}

.getintouch__header {
  margin: 0 0 80px 0;
}

.getintouch__items {
  display: flex;
  align-items: center;
}

@media (max-width: 992px) {
  .getintouch__items {
    display: block;
  }
}

.getintouch__item {
  flex: 0 1 33.333%;
}

.item-getintouch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 50px 15px;
}

.item-getintouch_active {
  background: #252b42;
  color: #ffffff;
  padding: 80px 15px;
}

.item-getintouch_active .item-getintouch__button {
  border: 1px solid #ffffff;
  color: #ffffff;
}

.item-getintouch>*:not(:last-child) {
  margin: 0 0 15px 0;
}

.item-getintouch__emails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-getintouch__email {
  color: inherit;
  font-weight: 600;
  line-height: 171%;
}

.item-getintouch__email:hover {
  text-decoration: underline;
}

.item-getintouch__label {
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
}

.item-getintouch__button {
  border: 1px solid #ff7b47;
  border-radius: 5px;
  padding: 10px 20px;
  color: #ff7b47;
  line-height: 171%;
  font-weight: 600;
  min-height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact {
  background: #ffffff;
  padding: 42px 0;
}

.contact__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 600px) {
  .contact__body {
    display: block;
    justify-content: center;
  }

  .contact__content {
    padding: 0 20px 0 0;
  }
}

.contact__content {
  padding: 0 20px 20px 0;
}

.contact__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
}

.contact__title:not(:last-child) {
  margin: 0 0 10px 0;
}

.contact__text {
  color: #737373;
  letter-spacing: 0.2px;
  line-height: 142%;
}

.contact__button {
  display: flex;
  background: #ff7b47;
  border-radius: 5px;
  color: #fafafa;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px 40px;
  min-height: 58px;
}

.footer__top {
  background-color: #17213c;
  padding: 30px 0;
}

.footer__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.footer__column {
  padding: 20px 15px;
  flex: 0 1 16.6667%;
}

.footer__column:last-child {
  flex: 0 1 33.3334%;
}

@media (max-width: 992px) {
  .footer__column {
    flex: 0 1 25%;
  }
}

@media (max-width: 700px) {
  .footer__column {
    flex: 0 1 50%;
  }

  .footer__column:last-child {
    flex: 0 1 100%;
  }

  .footer__container {
    flex-direction: column;
  }

  .footer__copy {
    margin: 0 0 15px 0;
    text-align: center;
  }
}

.footer__label {
  color: #fafafa;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.1px;
  font-size: 16px;
  margin: 0 0 20px 0;
}

.menu-footer__list {
  font-weight: 600;
  line-height: 171%;
  letter-spacing: 0.2px;
}

.menu-footer__item:not(:last-child) {
  margin: 0 0 10px 0;
}

.menu-footer__link {
  color: #fafafa;
}

.contacts-footer {
  display: flex;
  flex-direction: column;
}

.contacts-footer__item {
  padding: 0 0 0 34px;
  line-height: 142%;
  display: flex;
  align-items: center;
  min-height: 30px;
  color: #fafafa;
}

.contacts-footer__item:not(:last-child) {
  margin: 0 0 12px 0;
}

.contacts-footer__item_phone {
  background: url("../img/footer/01.svg") left no-repeat;
}

.contacts-footer__item_map {
  background: url("../img/footer/02.svg") left no-repeat;
}

.contacts-footer__item_email {
  background: url("../img/footer/03.svg") left no-repeat;
}

.footer__bottom {
  background-color: #fafafa;
  padding: 25px 0;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copy {
  font-weight: 600;
  line-height: 171%;
  letter-spacing: 0.2px;
  color: #737373;
}

.social {
  display: flex;
  align-items: center;
}

.social__item:not(:last-child) {
  margin: 0 20px 0 0;
}